@model Gastos.Core.Dtos.CompraDtoIn

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TdcId" class="form-control" value="@ViewBag.TdtId" type="hidden" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesesSinIntereses" class="control-label"></label>
                <input asp-for="MesesSinIntereses" class="form-control" />
                <span asp-validation-for="MesesSinIntereses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeRegistro" class="control-label"></label>
                <input asp-for="FechaDeRegistro" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="FechaDeRegistro" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
